@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
.heading-font {
  font-family: "BBH Bartle", serif;
}

.federo {
  font-family: "Federo", sans-serif;
}

.pt-sans {
  font-family: "PT Sans Caption", sans-serif;
}

.bartle {
  font-family: "BBH Bartle", serif;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

